<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Blog</title>
	<link rel="stylesheet" href="{% static 'Seas/css/style.css' %}" type="text/css" media="all" />
	
	
	<!--[if IE]><link rel="stylesheet" href="css/ie.css" type="text/css" media="all" /><![endif]-->
	<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
	
	<script src="{% static 'Seas/js/jquery-1.3.2.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'Seas/js/jquery.scrollTo-min.js' %}" type="text/javascript"></script>
	<script src="{% static 'Seas/js/jquery.jcarousel.pack.js' %}" type="text/javascript"></script>
	
	<script src="{% static 'Seas/js/jquery-func.js' %}" type="text/javascript"></script>
</head>
<body>
	
<!-- BG -->
<div id="bg">
	<span id="top">&nbsp; АББА</span>
	<div id="shell">
		
		<!-- Header -->
		<div id="header">
			<div class="rel-content">
				<h1 id="logo"><a href="http://127.0.0.1:8000/">Hello my friend!</a></h1>
				<p class="site-info">Здесь я выкладываю свои наработки</p>
			</div>
			
			<span class="abs-span island">&nbsp;</span>
			<span class="abs-span ships">&nbsp;</span>
			<span class="abs-span dir">&nbsp;</span>
		</div>
		<!-- Header -->
		
		
		<!-- Navigation -->
		<div class="buttons">
			<a href="{%url 'faq'%}" class="about-link"><em>&nbsp;</em><span>About Me</span></a>
			<a href="https://github.com/MidNight337" class="portfolio-link"><em>&nbsp;</em><span>Portfolio</span></a>
			<a href="http://127.0.0.1:8000/contact/" class="contact-link"><em></em><span>Contact Me</span></a>
		</div>
		
		<div class="buttons top-holder">
			<a href="#top" class="top-link"><em>&nbsp;</em><span>Top</span></a>
		</div>
		<!-- End Navigation -->
		
		
		<!-- Container -->
		<div id="container">
			<div class="rel-content">
				
				<!-- Howdy -->
				<div id="howdy">
					<h2>MidNight!</h2>
					<h3>Fortis fortuna adiuvat!</h3>
				</div>
				<!-- End Howdy -->
			
			
				<!-- Portfolio -->
				<div id="portfolio">
					<h2>my portfolio</h2>
					<div class="projects">
						<ul>
						    <li>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo" class="plus">Open</a>
							    		<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo"><img src="{% static 'Seas/css/images/project1.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo" class="plus">Open</a>
							    		<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo"><img src="{% static 'Seas/css/images/project1.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo" class="plus">Open</a>
							    		<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo"><img src="{% static 'Seas/css/images/project1.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo" class="plus">Open</a>
							    		<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo"><img src="{% static 'Seas/css/images/project1.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com" class="plus">Open</a>
							    		<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com"><img src="{% static 'Seas/css/images/project2.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com" class="plus">Open</a>
							    		<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com"><img src="{% static 'Seas/css/images/project2.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com" class="plus">Open</a>
							    		<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com"><img src="{% static 'Seas/css/images/project2.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com" class="plus">Open</a>
							    		<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com"><img src="{% static 'Seas/css/images/project2.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    </li>
						    <li>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo" class="plus">Open</a>
							    		<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo"><img src="{% static 'Seas/css/images/project1.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo" class="plus">Open</a>
							    		<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo"><img src="{% static 'Seas/css/images/project1.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo" class="plus">Open</a>
							    		<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo"><img src="{% static 'Seas/css/images/project1.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo" class="plus">Open</a>
							    		<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo"><img src="{% static 'Seas/css/images/project1.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com" class="plus">Open</a>
							    		<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com"><img src="{% static 'Seas/css/images/project2.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com" class="plus">Open</a>
							    		<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com"><img src="{% static 'Seas/css/images/project2.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com" class="plus">Open</a>
							    		<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com"><img src="{% static 'Seas/css/images/project2.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com" class="plus">Open</a>
							    		<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com"><img src="{% static 'Seas/css/images/project2.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    </li>
						    <li>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo" class="plus">Open</a>
							    		<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo"><img src="{% static 'Seas/css/images/project1.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo" class="plus">Open</a>
							    		<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo"><img src="{% static 'Seas/css/images/project1.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo" class="plus">Open</a>
							    		<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo"><img src="{% static 'Seas/css/images/project1.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo" class="plus">Open</a>
							    		<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo"><img src="{% static 'Seas/css/images/project1.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com" class="plus">Open</a>
							    		<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com"><img src="{% static 'Seas/css/images/project2.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com" class="plus">Open</a>
							    		<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com"><img src="{% static 'Seas/css/images/project2.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com" class="plus">Open</a>
							    		<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com"><img src="{% static 'Seas/css/images/project2.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com" class="plus">Open</a>
							    		<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com"><img src="{% static 'Seas/css/images/project2.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    </li>
						    <li>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo" class="plus">Open</a>
							    		<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo"><img src="{% static 'Seas/css/images/project1.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo" class="plus">Open</a>
							    		<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo"><img src="{% static 'Seas/css/images/project1.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo" class="plus">Open</a>
							    		<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo"><img src="{% static 'Seas/css/images/project1.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo" class="plus">Open</a>
							    		<a target="_blank" href="http://cssmayo.com" title="CSS Gallery | CSSMayo"><img src="{% static 'Seas/css/images/project1.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com" class="plus">Open</a>
							    		<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com"><img src="{% static 'Seas/css/images/project2.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com" class="plus">Open</a>
							    		<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com"><img src="{% static 'Seas/css/images/project2.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com" class="plus">Open</a>
							    		<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com"><img src="{% static 'Seas/css/images/project2.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    	<div class="project">
							    	<div class="project-bg">
										<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com" class="plus">Open</a>
							    		<a target="_blank" href="http://freemailtemplates.com" title="FreeMailTemplates.com"><img src="{% static 'Seas/css/images/project2.jpg' %}" alt="" /></a>
							    	</div>
						    	</div>
						    </li>
						</ul>
					</div>
				</div>
				<!-- End Portfolio -->
			
				
				<!-- Contact -->
				<div id="contact">
					<h2>Contact Me</h2>
					<div class="cl">&nbsp;</div>
					<div class="left">
						
						
					</div>
					<div class="left">
						   <form action="" method="post">  
						   
							{% csrf_token %}
							<h1>Отправить отзыв</h1><style>h1 { margin-bottom: +15px;}</style>
							<label><strong>Ваше имя</strong> (Required):</label>
							<input type="name" class="field" />
							<label><strong>Ваш email</strong> (Required):</label>
							<input type="email" class="field" />
							<label><strong>Сообщение</strong> (Required):</label>
							<textarea name="text" class="field" rows="5" cols="10"></textarea> 
							
							 <a href="" >Принять</a> 
	 
						</div>

					
					<div class="cl">&nbsp;</div>
				</div>
				<!-- End Contact -->
			
				
			</div>
			
			<span class="abs-span animals">&nbsp;</span>
			<span class="abs-span animal2">&nbsp;</span>
			<span class="abs-span bottle">&nbsp;</span>
		</div>
		<!-- Container -->
		
		<p class="copy">MidNight.com / Design by NoName <a href="http://MidNight.com">Fackka.com</a></p>
	</div>	
</div>	
<!-- End BG -->
</body>
</html>